#makanan {
    margin-top: 30px;
    width: 100%;
    padding: 16px;
}

#makanan > .placeholder {
    font-weight: lighter;
    color: rgba(0,0,0,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.makanan {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

.makanan .sampul {
    display: flex;
    width: 70%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}

.deskripsi {
    padding: 10px;
    text-align: justify;
}

.deskripsi > h2 {
    font-weight: lighter;
    padding: 10px;
}

.deskripsi > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}