@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import "search-bar.css";
@import "banner-bar.css";
@import "footer-bar.css";

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f0d290;
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  width: 80%;
  margin: 32px auto;
}